.auth-container {
    background-color: #f5faff;
    width: 350px;
    margin: 100px auto;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  .auth-container h2 {
    margin-bottom: 20px;
  }
  
  .auth-container form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-container input {
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  
  .auth-container button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .auth-container button:hover {
    background-color: #084ec9;
  }
  
  .toggle-link {
    color: #007bff;
    margin-top: 15px;
    cursor: pointer;
    font-size: 14px;
  }
  