

   .hero-section {
    height: 100vh;
    background-image: url('../assets/images/parking.jpg'); /* your image path */
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55); /* dark overlay */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
  }
  
  .hero-content {
    text-align: center;
    max-width: 800px;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .hero-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background: white;
    padding: 1rem;
    border-radius: 8px;
    justify-content: center;
    
  }
  
  .hero-form select,
  .hero-form input {
    padding: 0.7rem 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    min-width: 200px;
    font-size: 1rem;
  }
  
  .hero-form button {
    background-color:#4fa3ff;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .hero-form button:hover {
    background-color:#009e52;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .hero-content h1 {
      font-size: 2rem;
    }
  
    .hero-form {
      flex-direction: column;
      align-items: stretch;
    }
  }
  
   